test.py
data/facescrub_test_set/0.pkl
data/facescrub_test_set/1.pkl
data/facescrub_test_set/2.pkl
data/facescrub_train_set/0.pkl
data/facescrub_train_set/1.pkl
data/facescrub_train_set/2.pkl
data/facescrub_train_set/3.pkl
data/facescrub_train_set/4.pkl
data/facescrub_train_set/5.pkl
data/facescrub_train_set/6.pkl
data/facescrub_train_set/7.pkl
data/facescrub_train_set/8.pkl
data/facescrub_train_set/9.pkl
data/facescrub_train_set/10.pkl
data/facescrub_train_set/11.pkl
data/facescrub_train_set/12.pkl
data/facescrub_train_set/13.pkl
data/facescrub_train_set/14.pkl
data/facescrub_train_set/15.pkl
data/facescrub_train_set/16.pkl
data/facescrub_train_set/17.pkl
data/facescrub_train_set/18.pkl
data/facescrub_train_set/19.pkl
data/facescrub_train_set/20.pkl
data/facescrub_train_set/21.pkl
data/facescrub_train_set/22.pkl
data/facescrub_train_set/23.pkl
data/facescrub_train_set/24.pkl
data/facescrub_train_set/25.pkl
data/facescrub_train_set/26.pkl
data/facescrub_train_set/27.pkl
data/facescrub_train_set/28.pkl
data/facescrub_train_set/29.pkl
data/facescrub_train_set/30.pkl
data/facescrub_train_set/31.pkl
data/facescrub_train_set/32.pkl
data/facescrub_train_set/33.pkl
data/facescrub_train_set/34.pkl
data/facescrub_train_set/35.pkl
data/facescrub_train_set/36.pkl
data/facescrub_train_set/37.pkl
data/facescrub_train_set/38.pkl
data/facescrub_train_set/39.pkl
data/facescrub_train_set/40.pkl
data/facescrub_train_set/41.pkl
data/facescrub_train_set/42.pkl
data/facescrub_train_set/43.pkl
data/facescrub_train_set/44.pkl
data/facescrub_train_set/45.pkl
data/facescrub_train_set/46.pkl
data/facescrub_train_set/47.pkl
data/facescrub_train_set/48.pkl
data/facescrub_train_set/49.pkl
data/facescrub_train_set/50.pkl
data/facescrub_train_set/51.pkl
data/facescrub_train_set/52.pkl
data/facescrub_train_set/53.pkl
data/facescrub_train_set/54.pkl
data/facescrub_train_set/55.pkl
data/facescrub_train_set/56.pkl
data/facescrub_train_set/57.pkl
data/facescrub_train_set/58.pkl
data/facescrub_train_set/59.pkl
data/facescrub_train_set/60.pkl
data/facescrub_train_set/61.pkl
data/facescrub_train_set/62.pkl
data/facescrub_train_set/63.pkl
data/facescrub_train_set/64.pkl
data/facescrub_train_set/65.pkl
data/facescrub_train_set/66.pkl
data/facescrub_train_set/67.pkl
data/youtubeface_test_set/0.pkl
data/youtubeface_test_set/1.pkl
data/youtubeface_test_set/2.pkl
data/youtubeface_test_set/3.pkl
data/youtubeface_test_set/4.pkl
data/youtubeface_test_set/5.pkl
data/youtubeface_test_set/6.pkl
data/youtubeface_test_set/7.pkl
data/youtubeface_train_set/0.pkl
data/youtubeface_train_set/1.pkl
data/youtubeface_train_set/2.pkl
data/youtubeface_train_set/3.pkl
data/youtubeface_train_set/4.pkl
data/youtubeface_train_set/5.pkl
data/youtubeface_train_set/6.pkl
data/youtubeface_train_set/7.pkl
data/youtubeface_train_set/8.pkl
data/youtubeface_train_set/9.pkl
data/youtubeface_train_set/10.pkl
data/youtubeface_train_set/11.pkl
data/youtubeface_train_set/12.pkl
data/youtubeface_train_set/13.pkl
data/youtubeface_train_set/14.pkl
data/youtubeface_train_set/15.pkl
data/youtubeface_train_set/16.pkl
data/youtubeface_train_set/17.pkl
data/youtubeface_train_set/18.pkl
data/youtubeface_train_set/19.pkl
data/youtubeface_train_set/20.pkl
data/youtubeface_train_set/21.pkl
data/youtubeface_train_set/22.pkl
data/youtubeface_train_set/23.pkl
data/youtubeface_train_set/24.pkl
data/youtubeface_train_set/25.pkl
data/youtubeface_train_set/26.pkl
data/youtubeface_train_set/27.pkl
data/youtubeface_train_set/28.pkl
data/youtubeface_train_set/29.pkl
data/youtubeface_train_set/30.pkl
data/youtubeface_train_set/31.pkl
data/youtubeface_train_set/32.pkl
data/youtubeface_train_set/33.pkl
data/youtubeface_train_set/34.pkl
data/youtubeface_train_set/35.pkl
data/youtubeface_train_set/36.pkl
data/youtubeface_train_set/37.pkl
data/youtubeface_train_set/38.pkl
data/youtubeface_train_set/39.pkl
data/youtubeface_train_set/40.pkl
data/youtubeface_train_set/41.pkl
data/youtubeface_train_set/42.pkl
data/youtubeface_train_set/43.pkl
data/youtubeface_train_set/44.pkl
data/youtubeface_train_set/45.pkl
data/youtubeface_train_set/46.pkl
data/youtubeface_train_set/47.pkl
data/youtubeface_train_set/48.pkl
data/youtubeface_train_set/49.pkl
data/youtubeface_train_set/50.pkl
data/youtubeface_train_set/51.pkl
data/youtubeface_train_set/52.pkl
data/youtubeface_train_set/53.pkl
data/youtubeface_train_set/54.pkl
data/youtubeface_train_set/55.pkl
data/youtubeface_train_set/56.pkl
data/youtubeface_train_set/57.pkl
data/youtubeface_train_set/58.pkl
data/youtubeface_train_set/59.pkl
data/youtubeface_train_set/60.pkl
data/youtubeface_train_set/61.pkl
data/youtubeface_train_set/62.pkl
data/youtubeface_train_set/63.pkl
weights/best_weights.pth
DDH.py
runs/Oct14_19-23-23_LAPTOP-IOT6F9VD/events.out.tfevents.1697282603.LAPTOP-IOT6F9VD
runs/Oct14_21-47-20_LAPTOP-IOT6F9VD/events.out.tfevents.1697291240.LAPTOP-IOT6F9VD
runs/Oct15_10-56-28_LAPTOP-IOT6F9VD/events.out.tfevents.1697338588.LAPTOP-IOT6F9VD
runs/Oct15_10-56-57_LAPTOP-IOT6F9VD/events.out.tfevents.1697338617.LAPTOP-IOT6F9VD
runs/Oct15_11-01-06_LAPTOP-IOT6F9VD/events.out.tfevents.1697338866.LAPTOP-IOT6F9VD
runs/Oct15_11-10-36_LAPTOP-IOT6F9VD/events.out.tfevents.1697339436.LAPTOP-IOT6F9VD
runs/Oct15_12-14-01_LAPTOP-IOT6F9VD/events.out.tfevents.1697343241.LAPTOP-IOT6F9VD
runs/Oct15_12-51-47_LAPTOP-IOT6F9VD/events.out.tfevents.1697345507.LAPTOP-IOT6F9VD
runs/Oct15_14-04-56_LAPTOP-IOT6F9VD/events.out.tfevents.1697349896.LAPTOP-IOT6F9VD
weights/best_weights_1.pth
weights/best_weights_2.pth
